# Text files
*.swift text eol=lf
*.md text eol=lf
*.plist text eol=lf
*.json text eol=lf

# Reality Composer packages: treat .usda as text, others as binary
*.usda text eol=lf
*.rcproject binary
*.rkassets binary
*.usdz binary
*.reality binary

# Optional: Git LFS later
# *.usdz filter=lfs diff=lfs merge=lfs -text
# *.reality filter=lfs diff=lfs merge=lfs -text
